<style>
 {
}
body{
	font-family: 'Montserrat', sans-serif;
	color: #313131;
	position: relative;
	width: 100%;
	margin: 0;
}
.container-tud{
	margin: auto;
	max-width: 1200px;
}
 ::selection {
  background:#FFF961;
}
.noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: .05;
}
.logo{
	font-style: normal;
	font-weight: 900;
	font-size: 28px;
}
.menu-container{
	display: flex;
	justify-content: space-between;
    width: 1200px;
    align-items:center;
}
.redes{
	display: flex;
    align-items: center;
}
.rede-menu{
	padding-left: 20px;
}
h1{
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	line-height: 140%;
}
.tit-hero{
	max-width: 1055px;
	margin-top: 120px;
}
.text-hero{
	font-style: normal;
	font-weight: normal;
	line-height: 200%;
	max-width: 792px;
}
.mail{
	font-style: normal;
	font-weight: normal;
	line-height: 200%;
	text-decoration-line: underline;
	margin-bottom: 120px;
}
a{
	color: inherit;
	text-decoration: none;
}
p{
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
}
.projeto{
	width: 1200px;
	height: 396px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.proj-esq{
margin-left: 60px;
}
.proj-dir{
	margin-left: 66%;
}
.sub-proj{
	line-height: 120%;
	color: #FFFFFF;
}
.proj-preto{
	color:#313131;
}
h2{
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 120%;
}
.tit-proj-branco{
	color: #FFFFFF;
}
.tit-proj-preto{
	color: #313131;
}
button{
	flex-direction: row;
	padding: 8px 20px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.06);
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 200%;
	border-width: 0;
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.btn-branco{
	color: #313131;
	background-color: #ffffff;
}
.btn-preto{
	color: #ffffff;
	background-color: #313131;
}
.proj-1{
	background-image: url("img/img-super.png");
}
.proj-2{
	background-image: url("img/img-orgs.png");
}
.proj-3{
	background-image: url("img/img-proto.png");
}
.proj-4{
	background-image: url("img/img-folio.png");
}
.proj-5{
	background-image: url("img/img-casaverde.png");
}
.proj-6{
	background-image: url("img/img-bilheteria.png");
}
.text-curs{
	font-weight: bold;
	text-decoration-line: underline;
	font-size: 22px;
}
.curso{
	margin-bottom: 90px;
}
.sub-curs{
	opacity: 0.5;
}
.final{
	margin-top: 120px;
}
.tit-fin{
	max-width: 740px;
}
button:hover, button:focus, button:active {
 	-webkit-transform: translateX(8px);
  	transform: translateX(8px);
  	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
  	cursor: pointer;
}
@keyframes loop {
	0% { transform-origin: 0% 50%; transform: scale3d(0,1,1); }
	50% { transform-origin: 0% 50%; transform: scale3d(1,1,1); }
	51% { transform-origin: 100% 50%; }
	100% { transform-origin: 100% 50%; transform: scale3d(0,1,1); }
}
.hover-reveal {
	position: fixed;
	width: 360px;
	height: 240px;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	z-index: 99;
}
.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
}
.hover-reveal__deco {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #181314;
}
.hover-reveal__img {
	background-size: cover;
	background-position: 50% 50%;
}
.text-prox{
	display: flex;
	align-items: center;
}
.material{
	font-family: 'Material Icons';
	font-size: 32px;
	text-decoration: none;
	margin-left: 24px;
}
.sub-prox{
	margin: 0;
    margin-bottom: -30px;
}
.sub-baix{
	margin-top: 30px;
}
.hero-inside{
	display: flex;
	justify-content: space-between;
}
.inside{
	margin-bottom: 90px;
}
.inside-01{
	width: 554px;
}
.inside-alt{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 90px;
}
.desc-alt{
	margin-left: 80px;
	padding-left: 30px;
	border-left: 1px solid #C4C4C4;
	line-height: 160%;
	max-width: 485px;
}
.rest-inside-casa{
	text-align: center;
}
.imagem-fundo{
	width: 100%;
	height: 100vw;
	background-image: url(https://media.giphy.com/media/l1Kdb9KNXjm6wpIbK/giphy.gif);
	background-repeat: repeat;
	opacity: 0.1;
	position: fixed;
	z-index: -1;
	filter: invert(100%);
	filter: grayscale(100%);
	transform: rotate(90deg);
}
@media (max-width: 1220px){
	.menu-container{
		width: 90%;
		margin:auto;
	}
	.hero{
		width: 90%;
		margin:auto;
	}
	.projetos{
		width: 90%;
		margin:auto;
	}
	.projeto{
		width: 100%;
		margin: auto;
    	margin-bottom: 30px;
	}
	.proj-dir{
		margin: auto;
		text-align: center;
	}
	.proj-esq{
		margin: auto;
		text-align: center;
	}
	.proj-1{
		background-position: 30%;
	}
	.proj-2{
		background-position: 100%;
	}
	.proj-3{
		background-position: 0%;
	}
	.proj-4{
		background-position: 90%;
	}
	.proj-6{
		background-position: 90%;
	}
	.cursos{
		width: 90%;
    	margin: auto;
	}
	.final{
		width: 90%;
    	margin: auto;
	}
	.inside{
		width: 100%;
	}
	.rest-inside{
		display: block;
		width: 90%;
		margin: auto;
		text-align:center;
	}
	.hero-inside{
		display: block;
	}
	.inside-01{
		display: none;
	}
	.inside-alt{
		display: block;
	}
	.text-alt{
		display: none;
	}
	.rest-inside-casa{
		display: block;
		width: 90%;
		margin: auto;
		text-align:center;
	}
}
@media (max-width: 600px){
   .redes{
	   	display: flex;
	    align-items: center;
	    justify-content: space-around;
   }
   .menu-container{
   	display: block;
   	width: 80%;
   	text-align: center;
   	margin: auto;
   	margin-top: 30px;
   }
   .menu-rodape{
   	display: none;
   }
   h1{
   	font-size: 42px;
   }
   p{
   	font-size: 16px;
   }
   .inside-cel{
		width: 100%;
	}
}
</style>